#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9fafb;
  }
  
  .form-box {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    margin-right: 10px;
  }
  
  .form-box h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-box p {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px;
  }
  
  .inline-fields {
    display: flex;
    gap: 30px;
  }
  
  .inline-fields .form-group {
    flex: 1;
    min-width: 48%;
  }
  
  .form-group label {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    display: block;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
  }
  
  .password-field {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    display: block;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .password-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
  }
  
  .eye-icon {
    position: absolute;
    right: 460px;
    transform: translateY(-115%);
    cursor: pointer;
    color: #666;
    font-size: 18px;
  }

  .password-container {
    position: relative;
    width: 100%;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 10px; /* Espacio a la derecha para el ícono */
    height: 40px;
  }

  .password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #333;
  }
  
